/* fallback */
      @font-face {
        font-family: 'Material Icons';
        font-style: normal;
        font-weight: 400;
        src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v22/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
      }

      .material-icons {
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 24px;
        line-height: 1;
        letter-spacing: normal;
        text-transform: none;
        display: inline-block;
        white-space: nowrap;
        word-wrap: normal;
        direction: ltr;
        -moz-font-feature-settings: 'liga';
        -moz-osx-font-smoothing: grayscale;
      }

      .demo-list-two {
        width: 100%;
      }

      .demo-layout-transparent {
        background: url('../img/i.png') center / cover;
      }
      .demo-layout-transparent .mdl-layout__header,
      .demo-layout-transparent .mdl-layout__drawer-button {
        /* This background is dark, so we set text to white. Use 87% black instead if
           your background is light. */
        color: white;
      }

      .image { 
         position: relative; 
         width: 100%; /* for IE 6 */
      }

      /*.button { 
         position: absolute; 
         top: 55%; 
         left: 0; 
         width: 100%;
         text-align: center;
         color: white;
         font-family: 'Roboto Condensed', sans-serif;
      }
*/
      h2{
        text-align: center;
         color: white;
         font-family: 'Roboto Condensed', sans-serif;
      }

      .wrapper { 
      /*border : 2px solid #000;*/ 
      overflow-x:hidden;
    }

    .wrapper div {
       min-height: 200px;
       padding: 10px;
    }
    #one {
      float:left; 
      width: 45%; 
      height : 70%;
      background-color: rgba(0,0,0,0.8); 
      padding-top: 2%; 
      margin-left: 5%; 
      margin-top: 3%; z-index: 10; 
      text-align: center;
      /*border-right:2px solid #000;*/
    }
    #two { 
      overflow:hidden;
      margin:10px;
      min-height:170px;
      width: 35%; 
      height : 85%; 
      background-color: rgba(0,0,0,0.7); 
      padding-top: 2%; 
      margin-left:55%; 
      margin-top: 4%; 
      z-index: 11; 
      text-align: center;
    }

    @media screen and (max-width: 800px) {
       #one { 
        float: none !important;
        margin-right:3% !important;
        width:auto !important; 
        border:0 !important;
        border-bottom:2px solid #000 !important;
        height : 100% !important; 
        margin-top: 5% !important;   
      }
      #two {
        float: center !important;
        width:87% !important; 
        margin-left: 5% !important;
        border-bottom:2px solid #000 !important;
        height : 100% !important;
      }
    }
